-# coding: utf-8

%table
  %tr
    %th UUID
    %th 名前
    %th HEAD
    %th デバッグ
    %th 自動更新
    %th リポジトリ
    %th モデル
  %tr
    %th=device.uuid
    %th=device.name
    %th=device.attribute.head
    %th=device.attribute.is_debug
    %th=device.attribute.is_auto_upgrade
    %th=device.attribute.repos
    %th=device.attribute.model_name
